.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  width: 14em;
  padding: 0px;

}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  opacity: 0.4;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 22;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
}
.Login .App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 22;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
}
.Left-Right-App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 22;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App .sign-up {
  background-color: #007AFF;
  color: white;
  border: 1px solid #007AFF;
  padding-top: 1.0em;
  padding-left: 8.0em;
  padding-right: 8.0em;
  padding-bottom: 1.0em;
  border-radius: 4px;
  font-size: 0.6em;
  margin-bottom: 1em;
  width: 20em;
}
.App .sign-up:hover {
  cursor: pointer;
}
.App .login:hover {
  cursor: pointer;
}
.App .login {
  width: 20em;
  background-color: transparent;
  border-color: #007AFF;
  color: #007AFF;
  border: 1px solid #007AFF;
  padding-top: 1.0em;
  padding-left: 8.0em;
  padding-right: 8.0em;
  padding-bottom: 1.0em;
  border-radius: 4px;
  font-size: 0.6em;
  margin-bottom: 1em;
}

@media (max-width: 780px) {
  .App .sign-up {
    /*
     * Prevents "Sign Up" from being separated by a newline.. turning into: "Sign\nUp" essentially
     */
    padding-left: 1em;
    padding-right: 1em;
  }
}

.Login .App-logo {
  pointer-events: none;
  width: 8em;
  padding: 0px;
}
.SignUp .App-logo {
  pointer-events: none;
  width: 8em;
  padding: 0px;
}
.vertical-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 22;
  width: 15em;
  padding-right: 8em;
}


input.bottlespace {
  color: #ddd;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333;
  font-size: 0.6em;
  margin-bottom: 1em;
  padding-bottom: 0.4em;
  width: 20em;
}
.LoginForm input:active {
  border: none;
}


.title {
  font-size: 0.5em;
  padding-bottom: 1.4em;
}

.App .custom-button {
  background-color: #007AFF;
  color: white;
  padding: 0.5em 5.8em;
  border-radius: 4px;
  font-size: 0.6em;
  margin-bottom: 1em;
}

.App .button-inactive {
  opacity: 0.5;
  background-color: grey;
  border: none;
}
.App .button-inactive:hover {
  cursor: not-allowed;
}
.App .button-active:hover {
  cursor: pointer;
}
.App .button-active {
  opacity: 1.0;
  border: 1px solid #007AFF;
}

.App .submit {
}

.blacked-out-bg {
  background-color: #000;
}
.LoginLeft {
  align-items: left;
  justify-content: left;
}
.slick-text {
  font-size: 0.6em;
}

.bottlespace-link {
  font-size: 1.0em;
}
.bottlespace-link:active {
  color: #007AFF;
}
.bottlespace-link:link {
  color: #007AFF;
}
.bottlespace-link:hover {
  color: #007AFF;
}
.bottlespace-link:visited {
  color: #007AFF;
}

.age-verification-wrapper {
  width: 15em;
  font-size: 0.8em;
  padding-top: 1em;
}

.flex-left-right {
  display: flex;
  flex-direction: row;
}

input.age-verification {
  vertical-align: top;
  position: relative;
  top: -2.0em;
}

.Auth .HomeView .header {
  max-width: 55em;
  width: 55em;
  margin-left: 5em;
  padding-left: 0em;
}
.Auth .HomeView .content {
  max-width: 55em;
  width: 55em;
  margin-left: 5em;
  padding-left: 0em;
}
.Auth .HomeView .content .section-title {
  margin-left: 1em;
}
.Auth .HomeView .header .setup-view-all {
  color: #007AFF;
  margin-left: 34em;
}

@media (max-width: 930px) {
  /*
  p {
    background-color: red;
  }
  */
  .MobilePreview .mobile-preview {
    max-width: 18em;
    width: 18em;
  }
  .Auth .HomeView .header {
    max-width: 30em;
    width: 30em;
  }
  .Auth .HomeView .content {
    max-width: 30em;
    width: 30em;
  }
  .Auth .setup-account {
    max-width: 24em;
  }
  .Auth .setup-account .setup-tiles {
    max-width: 40em;
    width: 40em;
    flex-direction: column;
  }
  .Auth .HomeView .content .record {
    max-width: 30em;
    width: 30em;
    flex-direction: column;
  }
  .Auth .HomeView .content .record .field-name {
    width: 27em;
    border: none;
  }
  .Auth .HomeView .content .record .field-value{
    width: 27em !important;
  }
  .Auth .HomeView .content .bar-analytics .analytics-tiles {
    flex-direction: column;
  }
  .Auth .HomeView .header .setup-view-all {
    width: 20em;
    margin-left: 0em;
  }
  .Auth .place-horizontal .save-details {
    width: 20em;
    margin-left: 0em;
    float: none;
  }
}
@media (min-width: 931px) {
  /*
  p {
    background-color: green;
  }
  */
  .MobilePreview .mobile-preview {
    max-width: 18em;
    width: 18em;
  }
  .Auth .HomeView .header {
    max-width: 42em;
    width: 42em;
  }
  .Auth .HomeView .content{
    max-width: 42em;
    width: 42em;
  }
  .Auth .HomeView .content .record {
    max-width: 37em;
    width: 37em;
  }
  .Auth .HomeView .content .record .field-name {
    width: 17em;
  }
  .Auth .HomeView .content .record .field-value{
    width: 27em !important;
  }
  .Auth .HomeView .header .setup-view-all {
    width: 20em;
    margin-left: 25em;
  }
}
@media (min-width: 931px) and (max-width: 950px) {
  /*
  p {
    background-color: yellow;
  }
  */
  .MobilePreview .mobile-preview {
    max-width: 16em;
    width: 16em;
  }
  .Auth .HomeView .header {
    max-width: 40em;
    width: 40em;
  }
  .Auth .HomeView .content{
    max-width: 40em;
    width: 40em;
  }
  .Auth .HomeView .content .record {
    max-width: 37em;
    width: 37em;
  }
  .Auth .HomeView .content .record .field-name {
    width: 17em;
  }
  .Auth .HomeView .content .record .field-value{
    width: 27em !important;
  }
}
@media (min-width: 1024px) {
  /*
  p {
    background-color: purple;
  }
  */
  .MobilePreview .mobile-preview {
    max-width: 18em;
    width: 18em;
  }
  .Auth .HomeView .header {
    max-width: 45em;
    width: 45em;
  }
  .Auth .HomeView .content {
    max-width: 45em;
    width: 45em;
  }
  .Auth .HomeView .content .record {
    max-width: 43em;
    width: 43em;
  }
}
.Auth .SettingsView .content {
  padding-left: 0em !important;
  margin-left: 5em;
}
.Auth .AccountSettings .content {
  padding-left: 0em;
}
.Auth .InlineSection .header {
  padding-left: 0em !important;
  margin-left: 0em;
}

.Auth .GeneralDetails .content {
  margin-left: 2em;
}
.Auth .Description .content {
  margin-left: 2em;
}
.Auth .Hours .content {
  margin-left: 2em;
}

.Auth .HomeView .content h1.section-title {
  margin-left: 0em !important;
}
.Auth .HomeView .content .content {
  margin-left: 0em !important;
}
.Auth .HomeView .content .record {
  margin-left: 0em !important;
}

.Auth .toggle-button {
  color: white;
}
.Auth .toggle-button {
  filter: invert(52%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
  font-size: 2em;
  padding-left: 0.2em;
  padding-top: 0.1em;
  padding-right: 0.2em;
  float: left;
}
.Auth .expand-toggle-button {
  filter: invert(52%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
  font-size: 2em;
  padding-left: 0.2em;
  padding-top: 0.1em;
  padding-right: 0.2em;
  float: left;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 99;
}
.Auth .toggle-button:hover {
  cursor: pointer;
}

.Auth .MobilePreviewHide {
  display: none;
}
