.Auth .LeftNav {
  position: fixed;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 22;
  width: 1.4em;
  padding-top: 0.4em;
  padding-right: 0.4em;
  background-color: #1C1C1C;
}
.Auth .LeftNav .brand-logo {
  width: 1.5em;
  padding-left: 0.1em;
  margin-top: 0px;
  padding-top: 0px;
}
.Auth .LeftNav img {
  width: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
}

.Auth .LeftNav .main-nav {
  padding-top: 2em;
}
.Auth .setup-tiles {
  display: flex;
  flex-direction: row;
}

.Auth .analytics-tiles {
  display: flex;
  flex-direction: row;
}
.Auth .analytics-tiles .AppGraph {
  width: 30em;
  height: 20em;
  border: 1px solid #222;
  margin: 0.5em 1em;
  padding: 0.8em 1em;
  background-color: #1C1C1C;
}
.Auth .analytics-tiles .ClickThrus {
  width: 20em;
}

.section-title {
  text-align: left;
  font-weight: 500;
}
.Auth .content {
  padding-left: 5em;
}
.Auth .header {
  padding-left: 5em;
}

.Auth .business-name {
  font-weight: 600;
  text-align: left;
}

.Auth .Tile {
  display: flex;
  flex-direction: row;
  width: 20em;
  height: 10em;
  border: 1px solid #222;
  margin-left: 1em;
  background-color: #272727;
}
.Auth .Tile a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.Auth .Tile a:hover {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.Auth .Tile a:active {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.Auth .Tile a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.Auth .Tile .tile-text {
  width: 15em;
  padding-top: 3em;
}

.Auth .setup-account {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #1C1C1C;
}

.Auth .mobile-preview {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 25em;
  height: 100vh;
  background-color: #1C1C1C;
}
.Auth .mobile-preview .section-title {
  font-weight: 600;
  font-size: 2em;
  padding-left: 0.8em;
  margin-top: 0.5em;
}
.Details .content {
  padding-left: 3em;
}
.Details .content .section-title {
  padding-left: 0em;
}
.Auth .InlineSection .header {
  padding-left: 3em;
  text-align: left;
}

.Auth .content .record {
  display: flex;
  flex-direction: row;
  border: 1px solid #222;
  padding-left: 1em;
  border-bottom: 1px solid #272727;
  background-color: #1C1C1C;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 55em;
}

.content .record .field-name {
  width: 5em;
  text-align: left;
  border-right: 1px solid #333;
}
.content .record .field-value {
  width: 20em;
  text-align: left;
  padding-left: 1em;
}

.Auth .Description  {
  margin-top: 2em;
}
.Auth .Description .content .record .field-name {
  width: 8em;
  vertical-align: middle;
}
.Auth .Description .content .record .field-value {
  width: 44em;
}

.Auth .save-details {
  color: #0A84FF;
  background-color: #000;
  border: none;
  font-size: 1em;
}

.Auth .place-horizontal {
  width: 60vw;
}
.Auth .place-horizontal span {
  font-size: 2em;
  float: left;
  clear: both;
}
.Auth .place-horizontal .save-details {
  float: right;
  padding-top: 1em;
}

div.clear {
  clear: both;
}

.Auth .SettingsView .content {
  padding-left: 3em;
}
.Auth .SettingsView .content .field-name {
  width: 8em;
}
.Auth .SettingsView .content .logout {
  color: #FF453A;
  background-color: #000;
  border: none;
  font-size: 1em;
  float: left;
  padding-left: 3em;
  padding-top: 2em;
}
