.Auth .MobileNav {
  display: none;
}
.Auth .HomeView .header .setup-view-all {
  padding-bottom: 1em;
}
.Auth .LeftNav {
  position: fixed;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 22;
  width: 1.4em;
  padding-top: 0.4em;
  padding-right: 0.4em;
  background-color: #1c1c1c;
}
.Auth .LeftNav .brand-logo {
  width: 1.5em;
  padding-left: 0.1em;
  margin-top: 0px;
  padding-top: 0px;
}
.Auth .LeftNav img {
  width: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
}

.Auth .LeftNav .main-nav {
  padding-top: 2em;
}
.Auth .setup-tiles {
  display: flex;
  flex-direction: row;
}

.Auth .analytics-tiles {
  display: flex;
  flex-direction: row;
}
.Auth .analytics-tiles .AppGraph {
  width: 30em;
  height: 20em;
  border: 1px solid #222;
  margin: 0.5em 1em;
  padding: 0.8em 1em;
  background-color: #1c1c1c;
}
.Auth .analytics-tiles .ClickThrus {
  width: 20em;
}

.section-title {
  text-align: left;
  font-weight: 500;
}
.Auth .content {
  padding-left: 5em;
}
.Auth .header {
  padding-left: 5em;
  padding-top: 1em;
}

.Auth .business-name {
  font-weight: 600;
  text-align: left;
}

.Auth .Tile {
  display: flex;
  flex-direction: row;
  width: 20em;
  height: 10em;
  border: 1px solid #222;
  margin-left: 1em;
  background-color: #272727;
}
.Auth .Tile a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.Auth .Tile a:hover {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.Auth .Tile a:active {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.Auth .Tile a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}
.Auth .Tile .tile-text {
  width: 15em;
  padding-top: 3em;
}

.Auth .setup-account {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #1c1c1c;
}

.Auth .mobile-preview {
  /*
  position: fixed;
  right: 0px;
  top: 0px;
  */
  width: 25em;
  height: 100vh;
  background-color: #1c1c1c;
}
.Auth .mobile-preview .section-title {
  font-weight: 600;
  font-size: 2em;
  padding-left: 0.8em;
  margin-top: 0.5em;
}
.Details .content {
  padding-left: 3em;
}
.Details .content .section-title {
  padding-left: 0em;
}
.Auth .InlineSection .header {
  padding-left: 3em;
  text-align: left;
}

.Auth .content .record {
  display: flex;
  flex-direction: row;
  border: 1px solid #222;
  padding-left: 1em;
  border-bottom: 1px solid #272727;
  background-color: #1c1c1c;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 55em;
}

.content .record .field-name {
  width: 5em;
  text-align: left;
  border-right: 1px solid #333;
}
.content .record .field-value {
  width: 20em;
  text-align: left;
  padding-left: 1em;
}

.Auth .Description {
  margin-top: 2em;
}
.Auth .Description .content .record .field-name {
  width: 8em;
  vertical-align: middle;
}
.Auth .Description .content .record .field-value {
  width: 44em;
}

.Auth .save-details {
  color: #0a84ff;
  background-color: #000;
  border: none;
  font-size: 1em;
}

.Auth .place-horizontal {
  /*width: 60vw;*/
}
.Auth .place-horizontal span {
  font-size: 2em;
  float: left;
  clear: both;
}
.Auth .place-horizontal .save-details {
  float: right;
  padding-top: 1em;
}

div.clear {
  clear: both;
}

.Auth .SettingsView .content {
  padding-left: 3em;
}
.Auth .SettingsView .content .field-name {
  width: 8em;
}
.Auth .SettingsView .content .logout {
  color: #ff453a;
  background-color: #000;
  border: none;
  font-size: 1em;
  float: left;
  padding-top: 2em;
}
@media (min-width: 180px) and (max-width: 720px) {
  html {
    background-color: black;
    color: white;
  }
  .Auth .LeftNav {
    display: none;
  }
  .Auth .MobileNav {
    display: block;
    border-bottom: 1px solid #333;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    padding-bottom: 1em;
    background-color: black;
  }
  .Auth .HomeView {
    margin-top: 4em;
    padding-left: 0em;
    margin-left: 0em;
  }
  .Auth .HomeView .header {
    padding-left: 0em;
    margin-left: 1em;
  }
  .Auth .HomeView .header h1 {
    margin-top: 0em;
    padding-top: 0em;
  }
  .Auth .HomeView .content {
    padding-left: 0em;
    margin-left: 1em;
  }
  .Auth .MobileNav .brand-logo {
    max-height: 3em;
    max-width: 3em;
    float: left;
    margin-left: 1.4em;
  }
  .Auth .MobileNav img {
    margin-right: 1em;
    margin-top: 1em;
    float: left;
    width: 2em;
    max-height: 2em;
  }
  .Auth .MobilePreview {
  }
  .Auth .right-nav .mobile-preview {
    min-width: 30em;
  }
  .Auth .analytics-tiles .AppGraph {
    max-width: 80vw;
  }
  .Auth .HomeView .content .record {
    max-width: 90vw;
  }
  .Auth .expand-toggle-button {
    display: none;
  }
  .Auth .HomeView .header .setup-view-all {
    width: 8em;
    text-align: left;
    padding-bottom: 1em;
  }
  .Auth .HomeView .header .save-details {
    width: 8em;
    text-align: left;
  }
  .Auth .right-nav .mobile-preview {
    min-width: 98vw;
    width: 98vw;
  }
  .Auth .right-nav .mobile-preview .section-title {
    padding-top: 0.5em;
  }
  .Auth #canary-value {
    display: none;
  }
  .Auth .SettingsView .MobilePreview {
    /*margin-top: 2em;*/
    display: none;
  }
  .Auth .HomeView .content .Description {
    font-size: 10pt;
    padding-right: 0.2em;
  }
}
@media (min-width: 721px) {
  .Auth #canary-value {
    display: block;
    left: -999em;
    top: -999em;
    position: absolute;
  }
  .Auth .MobilePreview .mobile-preview {
    min-width: 30em;
    position: fixed;
    top: 0px;
    right: 0px;
  }
  .Auth .expand-toggle-button {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .Auth .collapse-toggle-button {
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    right: 0px;
    top: 0px;
    z-index: 399;
    filter: invert(52%) saturate(1352%) hue-rotate(87deg) brightness(119%)
      contrast(119%);
    font-size: 2em;
    padding-left: 0.2em;
    padding-top: 0.1em;
    padding-right: 0.2em;
  }
}
.Auth .HomeView .header .save-details {
  margin-top: 1em;
}
